@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #3b3a4a;
  --color-light-teal-100: #e0f7fa;
  --color-light-teal-200: #b2ebf2;
  --color-purple-100: #ede7f6;
  --color-purple-200: #b39ddb;
  --color-orange-100: #fff3e0;
  --color-orange-200: #ffb74d;

  --color-badge-green: #b2f2e5;
  --color-badge-red: #ffe0e0;
  --color-badge-yellow: #fff7cc;

  --color-badge-green-text: #176d5a;
  --color-badge-red-text: #a13a2b;
  --color-badge-yellow-text: #a67c1a;
}

html,
body {
  @apply bg-white;
}

main {
  @apply min-h-screen pt-10;
}
h1 {
  @apply max-sm:text-[2.5rem] text-5xl text-gradient leading-tight xl:tracking-[-1px] font-bold;
}

h2 {
  @apply max-sm:text-lg text-2xl text-dark-200;
}

label {
  @apply text-dark-200;
}
input {
  @apply w-full p-3 inset-shadow rounded-lg focus:outline-none bg-white;
}

textarea {
  @apply w-full p-3 inset-shadow rounded-lg focus:outline-none bg-white;
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 via-purple-500 to-orange-400;
  }
  .gradient-border {
    @apply bg-gradient-to-b from-light-teal-100 to-purple-100 p-3 rounded-xl;
  }
  .primary-button {
    @apply primary-gradient text-white rounded-lg px-4 py-2 cursor-pointer w-full shadow-md;
  }
  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-purple-200;
  }
  .resume-summary {
    @apply flex flex-row items-center justify-center p-4 gap-4;
    .category {
      @apply flex flex-row gap-2 items-center bg-orange-100 rounded-xl p-4 w-full justify-between;
    }
  }
  .back-button {
    @apply flex flex-row items-center gap-2 border border-purple-200 rounded-md p-2 shadow-sm bg-white hover:bg-purple-50 transition;
  }
  .auth-button {
    @apply primary-gradient rounded-lg py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-2xl font-semibold text-white;
  }
  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 max-sm:mx-2 mx-10 pb-5;
  }
  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
  }
  .resumes-section {
    @apply flex flex-wrap max-md:flex-col max-md:gap-4 gap-6 items-start max-md:items-center w-full max-w-[1850px] justify-evenly;
  }

  .resume-card {
    @apply flex flex-col gap-8 h-[560px] w-[350px] lg:w-[430px] xl:w-[490px] bg-white rounded-xl p-4 shadow-lg;
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
  }

  .feedback-section {
    @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
  }

  .navbar {
    @apply flex flex-row justify-between items-center bg-white rounded-xl p-4 w-full px-10 max-w-[1200px] mx-auto shadow;
  }

  .score-badge {
    @apply flex flex-row items-center justify-center py-1 px-2 gap-4 rounded-md shadow-sm;
  }

  .form-div {
    @apply flex flex-col gap-2 w-full items-start;
  }

  .uplader-drag-area {
    @apply relative p-6 text-center transition-all duration-700 cursor-pointer bg-white rounded-xl min-h-[180px] border-2 border-dashed border-teal-300;
  }
  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-purple-50 rounded-xl;
  }
}

@utility bg-gradient {
  background: linear-gradient(to bottom, #e0f7fa 60%, #ede7f6cc);
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 via-purple-500 to-orange-400;
}

@utility gradient-hover {
  @apply bg-gradient-to-b from-light-teal-100 to-purple-100;
}

@utility primary-gradient {
  background: linear-gradient(to right, #38b2ac, #7c3aed, #fb923c);
  box-shadow: 0px 24px 12px 0px #7c3aed22;
}

@utility primary-gradient-hover {
  background: linear-gradient(to right, #319795, #6d28d9, #f59e42);
}

@utility inset-shadow {
  box-shadow: inset 0 0 8px 0 rgba(124, 58, 237, 0.15);
  backdrop-filter: blur(6px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
